/* Différencier un texte normal et un lien dans du texte (souligné)*/
/*Prévoir un interligne d’au moins 1,
5 fois la taille du texte*/ 
/*Prévoir une marge entre les paragraphes d’au moins 1,5 fois la valeur de l’interligne*/
/*Min taille bouton 3px * 33px */
/* Faire le responsive*/

/*Prévoir une couleur de fond lorsque pas d'image si image de fond*/
/*background: black url(../images/fond-sombre.png) repeat-x;

/*Une très bonne pratique d’accessibilité consiste à doubler systématiquement chaque règle :hover par une règle :focus dans la CSS.*/
/*main a:hover,
main a:focus {
    text-decoration: none;
}*/


/*FONTS*/

@font-face {
    font-family: 'NotoSansJP';
    src: url('fonts/NotoSansJP-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('fonts/NotoSansJP-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSlab';
    src: url('fonts/JosefinSlab-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSlab';
    src: url('fonts/JosefinSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/*STYLES GÉNÉRAUX*/

body{
    margin-left: auto;
    margin-right: auto;
    font-family: 'NotoSansJP', sans-serif;
    max-width: 101rem;
    width: 100%;
    overflow-x: hidden;
    font-size: 1em;
    line-height: 2;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color:inherit
}

h3, p, li{
    margin-bottom: 2.25rem;
}

.--title2{
    font-family: 'JosefinSlab';
    text-transform: uppercase;
    font-size: 1.9em;
}

.--title3{
    font-family: 'NotoSansJP', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}

.--title4{
    font-family: 'NotoSansJP', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #FBFD37;
    padding-inline: 0.25rem;
    width: fit-content;
    font-weight: 400;
}

.--surligne{
    background-color: #FBFD37;
    padding-inline: 0.25rem;
}

.--point{
    position: relative;
    padding-left: 1rem;
}

.--point:before{
    content: "";
    background-color: black;
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 50%;
}

.--button{
    background-color: white;
    border: solid 0.15rem black;
    padding:1rem 1.5rem;
    width: fit-content;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'NotoSansJP', sans-serif;
    cursor: pointer;
}

.--button:hover{
    background-color: black;
    color:white
}

.--link{
    background-color: white;
    border-bottom: solid 0.1rem black;
    color:black;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    width: fit-content;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.--link:hover, .--link:focus{
    background-color: black;
    color:white;
    border-color: white;
}

.evitement{
    position: absolute;
    left:0;
    top:10rem;
    background-color: #FBFD37;
    color:#000000;
    padding: 1.5rem 2rem;
    border: solid 0.2rem #000000;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    opacity: 0;
    z-index: 10;
}

.evitement:hover {
    background-color: #000000;
    color:white
}

.evitement:focus{
    opacity: 1;
}

/*HEADER*/ 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 8rem;
}

.header__link{
    text-decoration: none;
    text-transform: uppercase;
}

.header__logo{
    width: 12rem;
}

.header__navigation{
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
}

/*RESPONSIVE*/
.--mobile{
    display: none;
}

/*INTRODUCTION*/

.intro {
    position: relative;
    color: white;
    font-family: 'JosefinSlab' ;
    text-transform: uppercase;
    text-align: center;
}

.intro__content{
    width: 60%;
    height: 38rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.intro__link{
    color:white;
    font-size: 1.5em;
    border-color: white;
    background-color: transparent;
}

.intro__link:hover, .intro__link:focus{
    background-color: white;
    color:black
}

.intro__img{
    width: 100%;
}

.intro__img img{
    position: absolute;
    top:0;
    left:0;
    z-index: -2;
    width: 100%;
    height: 38rem;
    object-fit: cover;
}

.intro__img::before{
    content: " ";
    background-color: black;
    opacity: 60%;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*LIEU UNIQUE*/

.lieu{
    background-color: #F2F2F2;
    padding: 4.5rem 7.5rem;
    display: flex;
    justify-content: space-between;
    gap:2rem;
    margin-bottom: 4.5rem;

}

.lieu__content{
    width: 50%;
}

.lieu__img{
    width: 50%;
}

/*UNE LOCALISATION STRATEGIQUE*/
.localisation{
    padding: 4.5rem 7.5rem;
    background-color: white;
}

.localisation__nationale{
    display: flex;
    justify-content: space-between;
    gap:10rem;
}

.localisation__locale{
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.localisation__blocimg{
    width: 55%;
}

.localisation__blocimg2 {
    width: 50%;
}

.localisation__img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 1 / 1;
}

.localisation__img2{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: auto 2500 / 1858;
}

.localisation__content{
    width: 45%;
}

.localisation__content2 {
    width: 50%;
}

.localisation__aide{
    display: none;
}

/*PRO-WORKING*/

.working{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 4.5rem 7.5rem;
    background-color: white;
}

.working__content{
    width: 40%;
}

.working__carrousel{
    width: 60%;
}

.working__links{
    display: flex;
    gap: 2rem;
}

/*DESTINATION*/
.destination{
    position: relative;
    padding: 4.5rem 7.5rem;
    overflow: hidden;
}

.destination__img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:7.5rem;   
    z-index: -1;
    aspect-ratio: 859/573;
}

.destination__content{
    background-color: #F2F2F2;
    opacity: 90%;
    padding: 4rem;
    padding-top: 2.5rem;
    width: 40%;
    margin-left: auto;
}

.destination__link{
    background-color: transparent;
}

/*CREATION*/

.creation{
    padding: 4.5rem 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 3rem;
}

.creation__content{
    width: 60%;
}

.creation__img{
    width: 40%;
}

.creation__img img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 458/314;
}

/*LES POINTS CLES DU PROJET*/

.pointscle{
    background-color: #F2F2F2;
    padding: 4.5rem 7.5rem;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.pointscle__content{
    width: 50%;
}

.pointscle__img {
    width: 50%;
}

.pointscle__img img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 550/550;
}

/*CITE*/
.cite {
    background-color: #F2F2F2;
    padding: 4.5rem 7.5rem;
}

.video__video{
    width: 100%;
    height: 100%;
    aspect-ratio: 1146/647;
}

/*VIDEO*/

.video{
    margin-top: 4rem;
}

.video__buttons{
    display: flex;
    gap:1rem
}

.video__aide{
    display: none;
}

/*FORMULAIRE*/

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formulaire{
    background-color: #FBFD37;
    padding: 4.5rem 7.5rem;
}

.formulaire__content{
    width: 50%;
    margin: auto;
}

.formulaire__title2{
    text-align: center;
}

.formulaire__champ{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    justify-content: start;
}

.formulaire__input{
    padding: 0.5rem;
}

.--checkbox{
    flex-direction: row-reverse;
}

.formulaire__button{
    margin: auto;
}

.formulaire__legal{
    margin-top: 2rem;
}

/*FOOTER*/

.footer{
    background-color: #FBFD37;

}

.footer__content{
    width: 70%;
    margin: auto;
}

.footer__logo{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer__link{
    background-color: transparent;
}

.footer__navigation{
    list-style-type: none;
}

.footer__menu{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

/*CARROUSEL*/
 .working__carrousel {
     position: relative;
     width: 55%;
     margin: auto;
     text-align: center;
 }

 .carrousel__image {
     width: 100%;
     max-height: 100%;
     object-fit: cover;
     aspect-ratio: 631/420;
     object-fit: cover;
 }

 .carrousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: solid 0.1rem black;
    border-radius: 50%;
    cursor: pointer;
    width: fit-content;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    transition: right 0.3s ease, color 0.3s ease, left 0.3s ease;
}

.carrousel__pause{
    margin-top: 1rem;
}

 .--next:hover{
    right: -2rem;
 }

 .carrousel__button img{
    width: 1rem;
    height: 1rem;
 }

 .--prev {
     left: 0.5rem;
 }

  .--prev:hover {
      left: -2rem;
  }

 .--prev img{
    transform: rotate(180deg);
 }

 .--next {
     right: 0.5rem;
 }

 .carrousel__pagination {
     display: flex;
     justify-content: center;
     margin-top: 1rem;
 }

 .dot {
     height: 1rem;
     width: 1rem;
     margin: 0 0.3rem;
     background-color: white;
     border-radius: 50%;
     display: inline-block;
     cursor: pointer;
 }

.dot.active {
     background-color: black;
 }

/*MOBILE*/
@media (max-width: 32rem) {
    h1{font-size: 1.8em;}
    h2{font-size: 1.7em;}
    h3{font-size: 1.6em;}
    h4{font-size: 1.5em;}
    body{
        line-height: 1.5;
        position: relative;
        margin: 0;
    }
    h3, p, li {
        margin-bottom: 1.7rem;
    }

    .--button {
        padding: 0.5rem 1rem;
    }

    .header__link:hover, .header__link:focus{
        color:black;
        border-color: black;
    }

    /*HEADER*/
    .header{
        padding: 1rem;
    }

    .header__logo{
        width: 6rem;
    }

    .header__button{
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .header__blocbutton{
        display: flex;
        justify-content: end;
    }

    .header__icons{
        width: 2rem;
        height: 2rem;
    }

    .header__link.--link.--mobile{
       display: block;
       background-color: transparent;
    }

    .--desktop{
        display: none;
    }

    .navigation.--mobile{
        display: block;
    }

    .header__navigation.--mobile li{
        list-style: none;
    }

    .header__navigation.--mobile ul {
        padding-inline-start: 0;
    }

    .header__navigation.--mobile{
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 90%;
        height: 100%;
        background-color: #FBFD37;
        padding: 1rem;
        overflow: hidden;
    }

    .--croix{
        margin: auto;
    }

    /*CARROUSEL*/
    .carrousel__button {
        top:40%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
    }

    .--next:hover {
        right: 0.5rem;
    }

    .--prev:hover {
        left: 0.5rem;
    }

    /*INTRO*/
    .intro__content{
        width: 95%;
        height: 100%;
    }

    .intro__title{
        margin-bottom: 0.5rem;
    }

    .intro__link{
        font-size: 1.3em;
    }

    /*LIEU*/

    .lieu{
        flex-wrap: wrap;
        padding: 1rem;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .lieu__img, .lieu__content{
        width: 100%;
    }

    /*LOCALISATION*/
    .localisation{
        padding: 1rem;
    }
    .localisation__nationale, .localisation__locale{
        flex-wrap: wrap;
        gap:1rem;
        margin-top:0
    }
    .localisation__blocimg, .localisation__blocimg2, .localisation__content, .localisation__content2{
        width: 100%;
    }

    /*WORKING*/
    .working{
        padding: 1rem;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .working__content, .working__carrousel{
        width: 100%;
    }

    .working__links{
        flex-wrap: wrap;
        gap: 1rem;
    }

    /*DESTINATION*/
    .destination{
        padding: 1rem;
        flex-wrap: wrap;
        gap:1rem
    }

    .destination__content, .destination__img{
        width: 100%;
    }

    .destination__content{
        padding: 1rem;
    }

    .destination__img{
        position: static;
        transform: none;
    }

    /*CREATION*/
    .creation{
        flex-wrap: wrap;
        gap:1rem;
        padding: 1rem;
    }

    .creation__content, .creation__img{
        width: 100%;
    }

    /*POINTS CLE*/
    .pointscle{
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }

    .pointscle__content, .pointscle__img{
        width: 100%;
    }

    .cite{
        padding: 1rem;
    }

    .video__buttons{
        flex-wrap: wrap;
        justify-content: center;
    }

    /*FORMULAIRE*/
    .formulaire{
        padding:1rem
    }

    .formulaire__content{
        width: 100%;
    }

    /*FOOTER*/
    .footer{
        padding: 1rem;
    }
    .footer__content{
        width: 100%;
    }

    .footer__menu{
        flex-wrap: wrap;
        gap: 0;
        justify-content: start;
        padding-inline-start: 0;
    }
}

/*TABLETTE*/
@media (min-width: 32rem) and (max-width: 64rem){}